telethon
python-telegram-bot[job-queue]
google-genai
aiosqlite
pydantic
python-dotenv
apscheduler
pytz
psutil
fasttext-wheel; python_version < "3.13"
numpy
telegramify-markdown
matplotlib
groq
openai
ollamafreeapi
pyyaml
