[Unit]
Description=TanyaDFBot Service
After=network.target

[Service]
User=hfzhkn
WorkingDirectory=/home/hfzhkn/Documents/tanyadfbot
ExecStart=/home/hfzhkn/Documents/tanyadfbot/venv/bin/python /home/hfzhkn/Documents/tanyadfbot/main.py
Restart=always
RestartSec=10
EnvironmentFile=/home/hfzhkn/Documents/tanyadfbot/.env

[Install]
WantedBy=multi-user.target
